<a href="https://colab.research.google.com/github/TaskFS222/BTE-320/blob/main/Other_composite_objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists: Most widely used type of object
Save and store them with anything we would like

In [12]:
L = [1,"two",3.14,[5,7,9]]
print(len(L))

4

In [13]:
print(L[-1])

[5, 7, 9]

In [14]:
L + ["three",9.99,0] #Concatinate

[1, 'two', 3.14, [5, 7, 9], 'three', 9.99, 0]

In [ ]:
s = "three"
s[1] = "b" #Lists are mutable, can be odified after you create them

In [18]:
print(L) #Example of lists being changed
L[3] = "b"
print(L)

[1, 'two', 3.14, [5, 7, 9]]
[1, 'two', 3.14, 'b']

In [21]:
for x in L:
  print(x)    #For loop designed for known number of iterations
for index in range(len(L)):
  print(L[index])

1
two
3.14
b
1
two
3.14
b

In [22]:
L2 = [[1,2,3],[4,5,6]]
print(L2)

[[1, 2, 3], [4, 5, 6]]

In [29]:
L2[1]
L2[1][0]=7 #Indexing and assigning a new variable to the original 4. The 1 is to indicate the list and 0 for position in the sub list.
print(L2)

[[1, 2, 3], [7, 5, 6]]