<a href="https://colab.research.google.com/github/TaskFS222/BTE-320/blob/main/Other_composite_objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists: Most widely used type of object
Save and store them with anything we would like

In [ ]:
L = [1,"two",3.14,[5,7,9]]
print(len(L))

4

In [ ]:
print(L[-1])

[5, 7, 9]

In [ ]:
L + ["three",9.99,0] #Concatinate

[1, 'two', 3.14, [5, 7, 9], 'three', 9.99, 0]

In [ ]:
s = "three"
s[1] = "b" #Lists are mutable, can be odified after you create them

In [ ]:
print(L) #Example of lists being changed
L[3] = "b"
print(L)

[1, 'two', 3.14, [5, 7, 9]]
[1, 'two', 3.14, 'b']

In [ ]:
for x in L:
  print(x)    #For loop designed for known number of iterations
for index in range(len(L)):
  print(L[index])

1
two
3.14
b
1
two
3.14
b

In [ ]:
L2 = [[1,2,3],[4,5,6]]
print(L2)

[[1, 2, 3], [4, 5, 6]]

In [ ]:
L2[1]
L2[1][0]=7 #Indexing and assigning a new variable to the original 4. The 1 is to indicate the list and 0 for position in the sub list.
print(L2)

[[1, 2, 3], [7, 5, 6]]

In [ ]:

L + ["Qwerty"] #Concatination creates new list from scratch
# Methods to add things to an existing list without creating a new list.
# Variable.append("Whatever you are trying to add")
L.append([2,"hehe"])
print(L)
# .extend Adds items in a list to the original list seperately
L.extend(["for",24])
print(L)

[1, 'two', 3.14, [5, 7, 9], [2, 'hehe']]
[1, 'two', 3.14, [5, 7, 9], [2, 'hehe'], 'for', 24]

In [ ]:
#Removing a part from a list. Using method .pop (Has default of -1)
L = [1,"two",3.14,[5,7,9]]
L.pop(2)
print(L)

[1, 'two', [5, 7, 9]]

In [ ]:
L = []
while True:
  userint = int(input("Insert int to add to list"))
  if userint == 0:
    break
  else:
    L.append(userint)
print(L)

Insert int to add to list3
Insert int to add to list0
[3]

Method sort sorts a list in assending order.
L.sort() Assending order
You can not sort a list which has strings in it

In [ ]:
L = [4,3,5,8,4,8,1,2,]
print(L)
L.sort()
print(L)
L.sort(reverse=True)
print(L)

[4, 3, 5, 8, 4, 8, 1, 2]
[1, 2, 3, 4, 4, 5, 8, 8]
[8, 8, 5, 4, 4, 3, 2, 1]

Tuples are imutable lists

In [ ]:
t = (3,"six",80.8) # Tupel, all list functions and string functions work on them.
len(t)
t+t[:2] # You can not add lists to Tuples

(3, 'six', 80.8, 3, 'six')

Dictionaries do not follow a sequential order theory like strings, lists, and tupels. Dictionaries are composits

In [ ]:
grades = {
    "Nicolas" :1,
    "Nathan": 99, #Keys are immutable. So lists can not be keys. Values can be any type
  }

grades["Kai"]=99 #Assignment operation to add something to the dictionairy or to update the assigned value of a key
grades
del grades ["Nicolas"] #del deletes a key and its value from the set
grades
grades["Nathan"]

99

In [ ]:
#for var1,var2 in Sequence
#Method .keys() , .values() , .items 3 main functions to know
grades = {
    "Nicolas" :1,
    "Nathan": 99,
    "Sam":86,
  }
for key in grades.keys(): # . to use method
  print(key)
for values in grades.values():
  print(values)
for key, value in grades.items(): # Always comes out key, value
  print(key,value)
print(grades)

Nicolas
Nathan
Sam
1
99
86
Nicolas 1
Nathan 99
Sam 86
{'Nicolas': 1, 'Nathan': 99, 'Sam': 86}

In [ ]:
months = {1:"Jan",2:"Feb",3:"Mar"}
print(f'The first month in a year is {months[1]}') # watch the key and positioning. Dictionary key always comes in dictionairy. No index to worry about

The first month in a year is Jan

In [ ]:
months = {}
L1 = [1,2,3,4,5,6,7,8,9,10,11,12]
l2 = ["January","Feburary", "March", "April","May","June","July","August","September","October","November","December"]
for i in range(len(L1)):
  months[L1[i]] = l2[i]
print(months)

{1: 'January', 2: 'Feburary', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}